.hero {
  width: 100%;
  height: 500px;
  display: flex;
  background-image: url(./../../assets/img/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -16px;

  justify-content: center;
  align-items: center;

  .zombieAlarm {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 100;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .wrapper {
    display: flex;
    padding: 30px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    height: 280px;
    width: 1000px;
    justify-content: center;
    position: relative;

    .title {
      font-family: "Squada One", sans-serif;
      font-weight: bold;
      font-size: 22px;
      font-style: normal;
      color: var(--yellow);
    }

    .gametitle {
      display: flex;
      font-family: "Squada One", sans-serif;
      font-weight: bold;
      font-size: 42px;
      color: var(--yellow);
    }
  }
}
