.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 700px;
  margin-top: 8%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px var(--shadow-light);
}

.title {
  color: var(--primary-strong);
  font-size: 24px;
  user-select: none;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}
