@import "normalize.css";
@import "src/assets/styles/vairables.scss";
@import "src/assets/styles/fonts.scss";

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", "Arial", sans-serif;

  -webkit-tap-highlight-color: #00000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: "Squada One", sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input {
  font-family: "Squada One", sans-serif;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #c4c4c4 inset !important;
}
