:root {
  --primary: #fbb040;
  --primary-extra: #ffa41c;
  --danger: #ff6868;

  --text: #464646;
  --text-extra: #999999;

  --background: #f7f7fa;
  --background-extra: #f4f5f8;

  --border: #c4c4c4;
  --shadow-strong: rgba(0, 0, 0, 0.48);
  --shadow-light: rgba(0, 0, 0, 0.14);

  --white: #fff;
  --black: #000;

  --transition: 0.3s;
  --transition-bezier: 150ms cubic-bezier(0, 0, 0.58, 1);
}
