.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 100%;
  height: 100vh;

  .gameOver {
    font-family: "Squada One", sans-serif;
    font-weight: bold;
    font-size: 70px;
  }

  .score {
  }
}
