.input-el {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 280px;
  padding: 20px 15px 15px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  background-color: var(--white-color);
  transition: border-color 0.2s ease-in-out;

  &__label {
    position: absolute;
    top: -12px;
    left: 25px;
    padding: 0px 5px;
    font-family: Squada;
    font-size: 20px;
    color: var(--primary-color);
    background-color: var(--white-color);
    user-select: none;
  }

  &__input {
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Squada;
    color: var(--text-color);
    background-color: rgb(243 243 244);
  }

  &__input::placeholder {
    color: rgb(196, 196, 196);
  }

  &.error {
    border-color: var(--danger-color);
  }
}
