.addTopic {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: start;

  &.horizontal {
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    color: var(--gray);
    font-family: "Spinnaker", sans-serif;
    padding-bottom: 5px;
  }

  .input {
    height: 42px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding-left: 15px;
  }

  .textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding-left: 15px;
    padding-top: 15px;
    height: 80px;
  }
}
