.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 450px;
  padding: 60px 30px 30px;
  transform: scale(0.9);
  border: 5px solid var(--border);
  border-radius: 5px;
  background-color: var(--white);
  z-index: 9000;
  opacity: 0;
  transition:
    opacity 200ms ease,
    transform 200ms ease;

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}

// up css specifity
section.show {
  opacity: 1;
}
