.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 600px;
  padding: 50px 30px;
  transform: scale(0.9);
  border-radius: 5px;
  background-color: var(--white);
  z-index: 9000;
  opacity: 0;
  transition:
    opacity 300ms ease,
    transform 300ms ease;

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}

.title {
  color: var(--primary-strong);
  font-size: 24px;
  user-select: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.show {
  opacity: 1;
}
