.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url(/src/assets/img/titleBox.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

.topic {
  font-size: 32px;
  font-family: "Squada One", sans-serif;
  color: var(--gray);
  padding: 30px 0;
  text-align: center;
  max-width: 500px;
}

.message {
  margin: 20px 0;
  display: flex;
  border: 1px solid var(--gray);
  flex-direction: column;
  position: relative;

  .emojiPicker {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .emojiButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../../assets/img/smile.svg");
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 100% 100%;
  }

  .emojiContainer {
    position: absolute;
    left: 92px;
    bottom: 0;
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background: var(--gray);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;

    span {
      font-family: "Spinnaker", sans-serif;
    }
  }

  .body {
    display: flex;
    border: 1px solid var(--gray);
    justify-content: space-between;

    .user {
      border: 1px solid var(--gray);
      padding: 10px;
      text-align: center;
      .name {
        font-family: "Spinnaker", sans-serif;
        font-weight: bold;
        margin: 10px 0;
      }

      .avatar {
        margin: 10px auto;
        height: 100px;
        width: 100px;
      }
    }

    .text {
      border: 1px solid var(--gray);
      padding: 10px;
      width: 100%;
      p {
        font-family: "Spinnaker", sans-serif;
      }
    }
  }
}

.footer {
  background: var(--vanilla);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .textarea {
    font-family: "Spinnaker", sans-serif;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
  }
}
