.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  // height: 500px;
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);

  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.menuItemBg {
  position: absolute;
  left: 0;
  top: 0;
}

.menuItemText {
  z-index: 100;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
