th,
td {
  border: 1px solid var(--border);
  padding: 10px;
  text-align: center;
  cursor: default;
}

.toasty {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 250px;
}

.leaderboard {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-image: url(./../../assets/img/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -16px;
  align-items: center;

  .zombieAlarm {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }

  .wrapper {
    display: flex;
    padding: 30px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    height: 280px;
    width: 1000px;
    justify-content: center;
    position: relative;

    .title {
      font-family: "Squada One", sans-serif;
      font-weight: bold;
      font-size: 102px;
      font-style: normal;
      color: var(--yellow);
      text-align: center;
    }
  }
}

.tableWrapper {
  width: 80%;
}

.masked {
  --scrollbar-width: 8px;
  --mask-height: 32px;
  overflow-y: auto;
  padding-bottom: var(--mask-height);
  padding-right: 20px;
  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-position:
    0 0,
    100% 0;
  mask-repeat: no-repeat, no-repeat;
}

.masked {
  scrollbar-width: thin;
  scrollbar-color: (--background-extra) transparent;
}

.masked::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.masked::-webkit-scrollbar-thumb {
  background-color: currentColor;
  border-radius: 9999px;
}

.masked::-webkit-scrollbar-track {
  background-color: transparent;
}

.table {
  width: 100%;
  background-color: var(--background-extra);
  margin-top: 20px;
}

.boldText {
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  margin-right: 15px;
  max-height: 100px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
