.login-page {
  margin-top: 8%;
  display: flex;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 460px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px var(--shadow-light);

  &__title {
    color: var(--primary);
    font-size: 24px;
    font-family: Squada;
    user-select: none;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__btns-wrapper {
    display: flex;
    flex-direction: column;
  }
}
