.topicsTable {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text);
  vertical-align: top;
  border-color: var(--border);

  .userWrapper {
    max-width: 150px;
  }

  .userAvatar {
    max-width: 50px;
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    font-family: "Spinnaker", sans-serif;
  }

  tr {
    cursor: pointer;
    height: 100px;
    transition: all 0.3s;

    td {
      font-family: "Spinnaker", sans-serif;
    }

    &:hover {
      background-color: var(--grayHover);
      color: var(--white);
    }
  }
  thead {
    background: var(--gray);
    color: var(--white);

    tr {
      cursor: default;
      height: 50px;
      &:hover {
        background-color: var(--gray);
      }
    }
  }

  & > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
  }

  & > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
}

.infoboard {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/img/titleBox.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

.infoboardMessage {
  font-weight: bold;
  font-size: 72px;
  font-family: "Squada One", sans-serif;
  color: var(--gray);
}
