.contentWrapper {
  height: 30px;
  min-height: 100%;
  overflow: hidden;
  border-radius: 3px;

  .contentLoader {
    height: 100%;
  }
  & > svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    rect {
      width: 100%;
      height: 100%;
    }
    color: #e1e1e1;
    background-color: #ecebeb;
  }
}
.lds {
  display: inline-block;
}
.lds:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--green) transparent var(--green) transparent;
  animation: lds 1.2s linear infinite;
}

@keyframes lds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
