.title {
  line-height: 1.4;
  color: var(--text);
  font-family: "Squada One", sans-serif;

  letter-spacing: 2px;

  &.h1 {
    font-size: 34px;
  }

  &.h2 {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    &.h1 {
      font-size: 28px;
    }

    &.h2 {
      font-size: 22px;
    }
  }
}
